.add-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.add-button:hover {
  background-color: #0056b3;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.tile {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.tile :deep(h2)::after {
  content: '';
  display: block;
  height: 1px;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
  .tile {
    background-color: #989898;
  }
}