.developer-portal-contribute {
  padding: 20px;
  text-align: left;
}

button {
  margin: 5px;
}

.author {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}


input, textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
